.App {
  text-align: center;
}

.active{
  border-bottom: 1px;
  border-bottom-style: solid;
  
}
.no-scroll {
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #5450db;
}
-webkit-scrollbar-track {
  background: transparent;
}
